<section #productsSection class="mb-5">

    <div class="row">
        <div class="mx-auto col-md-6 ">
            <div class="py-3 pt-5">
                <input [(ngModel)]="searchValue" type="search" class="form-control shadow" placeholder="search ...">
            </div>
        </div>
    </div>


    <div class="row g-3">
        <div *ngFor=" let item of productsList | searching:searchValue | paginate: { id: 'myPagination',itemsPerPage:pageMax, currentPage: theCurrentPage ,totalItems: total } "
            class="productCard col-lg-3 col-md-4 col-sm-6 overflow-hidden">

            <div class="item border border-success-subtle rounded-2 p-2 ">

                <div [routerLink]="['/details' , item._id]">
                    <img [src]="item.imageCover" width="100%" [alt]="item.title">
                    <div class="upTitle d-flex justify-content-between">
                        <p class="h5 pt-1  m-0">{{item.title.split(' ' , 2).join(' ')}} </p>


                    </div>
                    <p class="small p-0 m-0 smallName">{{item.category.name}}</p>
                    <div class="d-flex justify-content-between pt-2 pb-1">
                        <p class="m-0">{{item.price | currency }}</p>
                        <div>
                            <p class="m-0"> <i class="fa-solid fa-star rating-color"></i> {{item.ratingsAverage}} </p>
                        </div>
                    </div>
                </div>

                <div class="itemFooter d-flex align-items-center">
                    <button (click)="addItemToCart(item._id)" class="btn-main addBtn itmeBtn mx-auto ">
                        <i class="fa-solid fa-cart-shopping"></i> add to cart
                    </button>

                    <div class="whishList mx-auto ">
                        <span #heart [ngClass]="{ 'icon-active' : wishIdes.includes(item._id) ,
                                    'icon-muted' : wishIdes.includes(item._id)==false }"
                            (click)="addToWishlist(item.id , heart , MyIcon )">
                            <i #MyIcon class="fa-solid fa-heart fa-xl"></i>
                        </span>


                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="paginationDiv bg-body-tertiary w-100 border-3 d-flex justify-content-center align-items-center">
        <pagination-controls class="myPagination" id="myPagination" (pageChange)="pageChanged($event , productsSection)"
            (pageBoundsCorrection)="pageChanged($event , productsSection)" [maxSize]="9" [directionLinks]="true"
            [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>



</section>