<section>

    <div class=" content bg-light my-4 p-3 rounded-3">

        <div class=" rounded">
            <h1 class="text-center py-1 fw-bolder ">My Cart </h1>
            <h3 class="p-2">total price : {{ TotalPrice }} </h3>
        </div>

        <div class="border rounded overflow-hidden px-3">

            <div *ngIf="noItems" class="noItems min-70">
                <div class="w-25">
                    <img src="./assets/images/emptyCartEdited.png" class="w-100">
                </div>

                <p class="sorryMsg fw-bolder w-50 text-center"> Your Cart is empty , add some
                    <span routerLink="/products" class=" text-main cursor-pointer text-decoration-underline"> products
                    </span>
                </p>


            </div>
            <div *ngIf="errorMsg" class="noItems min-70">
                <div class="w-25">
                    <img src="./assets/images/error.svg" class="w-100">
                </div>

                <p  class="sorryMsg fw-bolder w-50 text-center">It seems there is an error, <br> please try
                    <span routerLink="/login" class=" text-main cursor-pointer text-decoration-underline"> logging in
                    </span>
                    again
                </p>

            </div>


            <div class="row my-3 border-bottom pb-2" *ngFor="let item of cartItems">

                <div class="col-md-2">
                    <div>
                        <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
                    </div>
                </div>

                <div class="col-md-10">

                    <div class="details d-flex justify-content-between">

                        <div class="left">
                            <p class="h5">{{item.product.title}}</p>
                            <p>price : {{item.price | currency : ' EGP ' }} </p>
                            <button (click)="removeItem(item.product._id)" class="btn border text-danger"> <i
                                    class="fa-solid fa-trash-can"></i> remove </button>
                        </div>

                        <div class="right d-flex justify-content-center align-items-center">
                            <button (click)="editCount(item.product.id , item.count + 1)" class="btn btn-success"> +
                            </button>
                            <p class="px-2 my-0"> {{item.count}} </p>
                            <button [disabled]="item.count<=1" (click)="editCount(item.product.id , item.count - 1)"
                                class="btn btn-success"> - </button>
                        </div>
                    </div>

                </div>
            </div>

            <button *ngIf="cartItems.length > 0" class="btn-main py-3 my-3"
                [routerLink]="['/check-out' , theCart.data._id]">
                Check out
                <span> <i class="fa-regular fa-square-check fs-5 px-2"></i></span>
            </button>
        </div>



    </div>






</section>