<section class="w-75 bg-light p-4 mx-auto my-5 rounded">


    <form *ngIf="resetDone==false" [formGroup]="resetForm" (submit)="resetpassWord()">

        <div class="input1 py-3">
            <h4 class="py-2">Enter your email :</h4>

            <input #mail (click)="hideErrMsg()" type="email" formControlName="email" class="form-control p-3 ">

            <div *ngIf="resetForm.get('email')?.errors && (resetForm.get('email')?.touched || mail.value.length > 0)"
                class=" my-1 alert alert-danger">
                <p *ngIf="resetForm.get('email')?.getError('required')" class="py-0 my-0">email is reqiured</p>
                <p *ngIf="resetForm.get('email')?.getError('email')" class="py-0 my-0">email is invalid</p>
            </div>



        </div>


        <div class="input2 py-3">
            <h4 class="py-2"> new password :</h4>

            <input #pass (click)="hideErrMsg()" type="password" formControlName="newPassword" class="form-control p-3">

            <div *ngIf="resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.touched || pass.value.length > 0)"
                class=" my-1 alert alert-danger">
                <p *ngIf="resetForm.get('newPassword')?.getError('required')" class="py-0 my-0">new password is reqiured
                </p>
                <p *ngIf="resetForm.get('newPassword')?.getError('pattern')" class="py-0 my-0">
                    ( Password must be at least 6 chars start with capital letter + any 5 digits )</p>
            </div>



        </div>

        <div *ngIf="errMessage" class=" my-1 alert alert-danger">
            <p class="py-0 my-0">{{errMessage}}</p>
        </div>


        <button [disabled]="resetForm.invalid" class="btn-main py-3 my-3 d-block mx-auto">
            save changes
            <span *ngIf="loading">
                <i class="fa-solid fa-spinner fa-spin fa-xl "></i>
            </span>
        </button>



    </form>



    <div *ngIf="resetDone" class="navigators d-flex justify-content-center align-items-center flex-column">

        <p class="text-success lead text-center"> Your password has been changed successfully <i
                class="fa-solid fa-check"></i>
        </p>

        <button routerLink="/login" class="btn-main p-3 mx-auto d-block">
            Go to Login page
        </button>

    </div>


</section>