<div class="row g-0">
    <div class="col-md-8">
        <owl-carousel-o [options]="topSliderOption">
            <ng-template carouselSlide><img class="sliderImg" src="./assets/images/main-slider-1.png" alt=""></ng-template>
            <ng-template carouselSlide><img class="sliderImg" src="./assets/images/online-pay3.jpg" alt=""></ng-template>
            <ng-template carouselSlide><img class="sliderImg" src="./assets/images/main-slider-3.jpeg" alt=""></ng-template>
            <ng-template carouselSlide><img class="sliderImg" src="./assets/images/shiny.jpg" alt=""></ng-template>
            <ng-template carouselSlide><img class="sliderImg" src="./assets/images/hometravel_5585762.jpg" alt=""></ng-template>
            <ng-template carouselSlide><img class="sliderImg" src="./assets/images/business12.jpg" alt=""></ng-template>

        </owl-carousel-o>
    </div>

    <div class="col-md-4">
        <img  class="rightSideImg" src="./assets/images/March-sale.png" alt="">
        <img  class="rightSideImg" src="./assets/images/online-pay.png" alt="">
    </div>
</div>