<div class="row g-0">
    <div class="col-md-8">
        <owl-carousel-o [options]="topSliderOption">
            <ng-template carouselSlide><img width="100" height="550" src="./assets/images/main-slider-3.jpeg" alt=""></ng-template>
            <ng-template carouselSlide><img width="100" height="550" src="./assets/images/main-slider-2.jpeg" alt=""></ng-template>
            <ng-template carouselSlide><img width="100" height="550" src="./assets/images/shiny.jpg" alt=""></ng-template>
            <ng-template carouselSlide><img width="100" height="550" src="./assets/images/hometravel_5585762.jpg" alt=""></ng-template>

        </owl-carousel-o>
    </div>

    <div class="col-md-4">
        <img height="275" class="w-100 " src="./assets/images/main-slider-1.jpeg" alt="">
        <img height="275" class="w-100 " src="./assets/images/March-sale.png" alt="">
    </div>
</div>