<section class="my-5">

    <h1 class="text-center pb-3">categories</h1>

    <div class="row g-4  ">

        <div *ngFor="let item of categList" class="col-md-4 col-sm-6 ">
            <div (click)="displaySub(item._id)" class=" card rounded overflow-hidden">

                <div class="myCard overflow-hidden d-flex justify-content-center align-items-center">
                    <img class="w-100" [src]="item.image" [alt]="item.name">
                </div>

                <div class="p-3 text-center bg-white">
                    <h3 class="fw-bolder text-main">{{item.name}}</h3>
                </div>

            </div>
        </div>


    </div>




</section>

<section *ngIf="supList[0] " class="sup my-5 ">
    <h1 class="text-center pb-3"> subcategories </h1>

    <div class="row g-4">
        <div *ngFor="let item of supList" class="col-md-4 col-sm-6 ">

            <div class="supCard card w-100 p-3 ">
                <h5>{{item.name}}</h5>
            </div>

        
        </div>


    </div>


</section>