.myCard {
    height: 300px;
}

.card {
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0 0 10px #00ca00db;
}

.supCard {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}