<section class="my-5">

    <h1 class="text-center fw-bolder pb-3">brands</h1>

    <div class="row g-4 ">

        <div *ngFor="let item of barndsList" class="col-md-3 col-sm-4  ">
            <div (click)="displayBrand(item._id)" class=" card rounded overflow-hidden ">

                <div class="brandCard overflow-hidden d-flex justify-content-center align-items-center">
                    <img class="w-100" [src]="item.image" [alt]="item.name">
                </div>

                <div class="border-top p-2 text-center bg-white">
                    <h3 class="fw-bolder text-main">{{item.name}}</h3>
                </div>

            </div>
        </div>


    </div>




</section>