<section class="  mx-auto mt-5">
    <div class="row align-items-center">
        <div class="col-md-3">
            <div>
                <img [src]="theProduct.imageCover" [alt]="theProduct.title" class="w-100">
            </div>
        </div>


        <div class="col-md-9 ">
            <h3>{{theProduct.title}}</h3>
            <p class=" text-muted">{{theProduct.description}}</p>
            <h4 class="h6">{{theProduct.category.name}}</h4>
            <div class="d-flex justify-content-between pt-2 ">
                <p>{{theProduct.price}}</p>
                <div class="d-flex ">
                    <i class="fa-solid fa-star rating-color"></i>
                    <p>{{theProduct.ratingsAverage}}</p>
                </div>
            </div>
            <button (click)="addItemToCart(theProduct.id)" class=" btn-main w-100"> add to cart </button>
        </div>
    </div>
</section>